&nbsp; &nbsp; <h2>Pago de servicio</h2>
<div class="container-formulario">
    <div>
<form action="" [formGroup]="formularioPagoServicio">
    
    <div class="p-inputgroup p-m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Descripción" formControlName ="descripcion" />
    </div>
    <div class="p-inputgroup p-m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-dollar"></i>
        </span>
        <input pInputText placeholder="Importe" formControlName ="importe" />
    </div>
    
    <div class="p-inputgroup p-m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-list"></i>
        </span>
        <select formControlName="medioPago" [(ngModel)]="medioPago">
            <option value="default" disabled selected="medioPago">Seleccione un medio de pago</option>
            <option value="Efectivo"> Efectivo</option>
            <option value="Debito"> Debito</option>
        </select>
        </div>
    <div class="p-inputgroup p-m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-calendar-plus"></i>
        </span>
        <p-calendar [showIcon]="true" placeholder="Fecha" formControlName ="fecha"></p-calendar>
    </div>
    

    <p-button styleClass="crear" label="Crear" (click)="crearPagoServicio()" styleClass="p-button-raised"></p-button>
    <p-button  styleClass="datos" label="Datos" (click)="mostrarTabla()" styleClass="p-button-raised"></p-button>
</form>
</div>
 
<div class="container_filtros_pagoServicio">

    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Búsqueda por filtros</h2>
  
     <div class="p-inputgroup p-m-2">
         <span class="p-inputgroup-addon">
             <i class="pi pi-search"></i>
         </span>
         
         <input type="text" class="form-select form-control-lg" name="filterDescripcion" (keyup)="onSearchPagoServicioDescripcion(filterPropertyDescripcion)" [(ngModel)]="filterPropertyDescripcion" placeholder="Buscar descripcion..." 
         />
         </div>
         <div class="p-inputgroup p-m-2">
             <span class="p-inputgroup-addon">
                 <i class="pi pi-search"></i>
             </span>
             <input type="text" class="form-select form-control-lg" name="filterMedioPago" (keyup)="onSearchPagoServicioMedioPago(filterPropertyMedioPago)" [(ngModel)]="filterPropertyMedioPago" placeholder="Buscar medio de pago..." />
     </div>
     <div class="p-inputgroup p-m-2">
         <span class="p-inputgroup-addon">
             <i class="pi pi-search"></i>
         </span>
         <input type="text" class="form-select form-control-lg" name="filterFecha" (keyup)="onSearchPagoServicioFecha(filterPropertyFecha)" [(ngModel)]="filterPropertyFecha" placeholder="Buscar fecha..." />
 </div>
     </div>
</div>
 
<br>
<div id="listadoPagosServicio" style="display:none;">
    
<table class="table-listado">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Importe</th>
            <th>Medio de pago</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead> 
    <tbody>

        <tr *ngFor="let pagoServicio of pagosServicio |filtroPagoServicio:searchDescripcion:searchMedioPago:searchFecha">
            <td>{{ pagoServicio.descripcion }}</td>
            <td>{{ pagoServicio.importe }}</td>
            <td>{{ pagoServicio.medioPago }}</td>
            <td>{{ pagoServicio.fecha }}</td>
            
            <td><p-button styleClass="btn_icono" icon="pi pi-pencil" styleClass="p-button-rounded" (click)="activador(pagoServicio)"></p-button></td>
            <td><p-button styleClass="btn_icono" icon="pi pi-times" styleClass="p-button-rounded" (click)="eliminarPagoServicio(pagoServicio)"></p-button></td>
      </tr> 
    </tbody>
</table>


<p-dialog header="Modificar pago de servicio " [(visible)]="display"  [closable]="false">

    <form action="" [formGroup]="formularioModificarPagoServicio">
        
        <div class="p-inputgroup p-m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Descripción" formControlName ="descripcion" />
        </div>
        <div class="p-inputgroup p-m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-dollar"></i>
            </span>
            <input pInputText placeholder="Importe" formControlName ="importe" />
        </div>
        <div class="p-inputgroup p-m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-list"></i>
            </span>
            <select formControlName="medioPagoModificar" [(ngModel)]="medioPagoModificar">
                <option value="default" disabled selected="medioPagoModificar">Seleccione un medio de pago</option>
                <option value="Efectivo"> Efectivo</option>
                <option value="Debito"> Debito</option>
            </select>
            </div>
        <div class="p-inputgroup p-m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-calendar-plus"></i>
            </span>
            <input type="date" formControlName="fecha" placeholder="Fecha">
        </div>
    
        <p-button styleClass="modificar" id="modificar" label="Modificar" (click)="modificarPagoServicio()" styleClass="p-button-raised"></p-button>
        <p-button label="Cancelar" id="cancelar" (click)="cerrar()" styleClass="p-button-raised"></p-button>
    </form>

</p-dialog>
