tr, td{
    text-align: center;
}

#modificar {
    margin-right: 50px;
    margin-left: -20px;
 }

 #cancelar {
    margin-left: -40px;
    margin-right: 80px;
 }


:host ::ng-deep {

    .p-dialog{
 
        margin-bottom: 380px;
        margin-right: 150px;
    
       
    }
    .p-dialog-draggable .p-dialog-header {

  margin-left: 60px;
 }

 #btn_volver{
    margin-left: 90%;
   }
} 